@page
@model IndexModel
@{
    ViewData["Title"] = "SMTP Settings";
    ViewData["SelectedTab"] = "Email";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <strong>SMTP settings updated!</strong>
                    </div>
                }
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Server"></label>
                    <input asp-for="Input.Server" class="form-control">
                    <span asp-validation-for="Input.Server" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Port"></label>
                    <input asp-for="Input.Port" class="form-control">
                    <span asp-validation-for="Input.Port" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control">
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SendAs"></label>
                    <input asp-for="Input.SendAs" class="form-control">
                    <span asp-validation-for="Input.SendAs" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}