@model VoucherApp.Models.Vendor

<div class="col-lg-3 col-md-4 col-6 mb-3">
    <div class="vendor-card card mx-auto p-1" data-id="@Model.Id" data-name="@Model.Name" data-desserttype="@Model.DessertType" data-filtered="false">
        <img class="card-img-top" src="@Model.ImagePath" alt="Shop image">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Name</h5>
            @if(Model.Description.Length > 50) 
            {
                <p class="card-text" data-toggle="tooltip" data-placement="right" title="@Model.Description">
                    @Model.Description.Substring(0, 50) ...
                </p>
            }
            else 
            {
                <p class="card-text">@Model.Description</p>
            }
            <p class="order-btn">
                <a asp-area="" asp-page="/Vouchers/Order" asp-route-vendorId="@Model.Id" class="btn btn-outline-success">Buy Voucher</a>
            </p>
        </div>
        <div class="card-footer bg-transparent border-light">
            <small class="text-muted">@Model.DessertType</small>
        </div>
    </div>
</div>