<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="confirmDialogForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDialogTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirmDialogBody">
                </div>
                <div class="modal-footer">
                    <button id="modal-dismiss" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="modal-confirm" type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>