﻿@{
    var siteName = VoucherApp.Data.SiteSettingsStatic.SiteName ?? "SaveOurTreats";
    var siteUrl = VoucherApp.Data.SiteSettingsStatic.SiteUrl ?? "https://saveourtreats.org/";
    var siteDescription = VoucherApp.Data.SiteSettingsStatic.SiteDescription ?? " ";
    var facebookUrl = VoucherApp.Data.SiteSettingsStatic.FacebookUrl ?? " ";
    var instagramUrl = VoucherApp.Data.SiteSettingsStatic.InstagramUrl ?? " ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @siteName</title>
    <link rel="shortcut icon" href="@VoucherApp.Data.SiteSettingsStatic.Favicon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_ConfirmDialog"/>
    <partial name="_ModalBox" />
    <div class="page-spinner d-none justify-content-center">
        <div class="spinner-overlay"></div>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@siteName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link modal-box-trigger" data-content="@VoucherApp.Data.SiteSettingsStatic.Faq" data-title="FAQ">FAQ</a>
                        <div id="social-share" class="dropdown show">
                            <a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tell Friends
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=@siteUrl&amp;src=sdkpreparse" target="_blank" data-link="" data-type="facebook">Facebook</a>
                                <a class="dropdown-item" href="https://twitter.com/intent/tweet?url=@siteUrl&text=@siteDescription" data-link="" data-type="twitter">Twitter</a>
                            </div>
                        </div>

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole(VoucherApp.Data.Roles.Admin)) 
                            {
                                <a class="nav-item nav-link" asp-area="" asp-page="/Admin/Index">Dashboard</a>
                            }
                            else 
                            {
                                <a class="nav-item nav-link" asp-area="" asp-page="/Vendors/Index">My Place</a>
                            }

                            <a class="nav-item nav-link" asp-area="" asp-page="/Accounts/Edit">My Account</a>
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <button type="submit" class="nav-item nav-link">Log out</button>
                            </form>
                        }
                        else {
                            <a class="nav-item nav-link" asp-area="" asp-page="/Vendors/Create">Register</a>
                            <a class="nav-item nav-link" asp-area="" asp-page="/Accounts/Login">Log In</a>
                        }
                    </div>    
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid px-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <a href="@facebookUrl" class="mx-3 mt-1" target="_blank"><h3><i class="fab fa-facebook"></i></h3></a>
                <a href="@instagramUrl" class="mx-3 mt-1" target="_blank"><h3><i class="fab fa-instagram"></i></h3></a>
            </div>
            <div class="row justify-content-center">
                &copy; 2020 - @siteName - <a asp-area="" asp-page="/Privacy"> Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/66ae3b59b9.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/confirmDialog.js" asp-append-version="true"></script>
    <script src="~/js/modalBox.js" asp-append-version="true"></script>
    <script src="~/js/cards.js" asp-apend-version="true"></script>
    <script src="~/js/toolbar.js" asp-apend-version="true"></script>
    <script src="~/js/stripe.js" asp-append-version="true"></script>
    <script src="~/js/order.js" asp-append-version="true"></script>
    <script src="~/js/qrcode.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
