@model VoucherApp.Models.Vendor

<div class="intro mb-5">
    <div class="container">
        <div class="row py-3">
          <div class="col-sm-3 offset-sm-1 text-sm-right text-center align-self-center">
            <img class="voucher-image" src="@Model.ImagePath"/>
          </div>
          <div class="col-sm-6 text-center text-sm-left">
            <div class="py-6 text-dark">
              <h2 class="display-3 font-weight-bold text-dark mb-2">
                @Model.Name
              </h2>
              <p class="px-lg-14 mb-4 lead">
                @Model.Description
              </p>
            </div>
          </div>
        </div>
    </div>
</div>