@page
@model ConfirmationModel

@{
    ViewData["Title"] = @Model.Vendor.Name;
}

<partial name="_Header.cshtml" model="Model.Vendor"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-3 offset-lg-2">
            <div class="card">
                <div class="card-header text-center"><h4>Thank you for your support!</h4></div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="card-img col-sm-3 align-self-center text-center"><img class="voucher-image" src="@Model.Vendor.ImagePath"/></div>
                        <div class="col-sm-5 align-self-center text-center">
                            <h5 class="card-title">Your voucher code is here!</h5>
                            <p class="card-text"><strong class="border rounded border-success p-1">@Model.Voucher.Code</strong></p>
                            <p class="card-text"><h1 class="">&pound; @(Model.Voucher.Amount / 100)</h1></p>
                        </div>
                        <div class="col-sm-4 align-self-center text-center" id="qrcode"></div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="#" onclick="window.print();">Print</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        new QRCode("qrcode", {
            text: JSON.stringify({
                userEmail: "@Model.Voucher.OwnerEmail",
                amount: "@Model.Voucher.Amount",
                status: "@Model.Voucher.Status",
                vendorName: "@Model.Vendor.Name",
                voucherCode: "@Model.Voucher.Code"
            }),
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    </script>
}            