@page
@model OrderModel

@{
    ViewData["Title"] = @Model.Vendor.Name;
}

<partial name="_Header.cshtml" model="Model.Vendor"/>

@if (!Model.PaymentReady)
{
    <div class="alert alert-warning">
        <strong>Payment was not setup. Please contact admin.</strong>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-3 offset-lg-3">
            <div class="card">
                <div class="card-header text-center"><h5>Support @Model.Vendor.Name</h5></div>
                <div class="card-body">
                    <form id="OrderForm" method="post">
                        <input type="hidden" asp-for="Vendor.Id"/>
                        <input type="hidden" asp-for="StripeApi"/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-5">
                            <h5>Choose Amount</h5>
                            <hr/>  
                            <div class="form-group">
                                <label asp-for="Input.Amount" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" id="btnGroupAddon2">&pound;</div>
                                    </div>
                                    <input asp-for="Input.Amount" type="number" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="amount-select btn ml-2">10</button>
                                        <button type="button" class="amount-select btn ml-2">20</button>
                                        <button type="button" class="amount-select btn ml-2">30</button>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Amount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-5">
                            <h5>Card Details</h5>
                            <hr/>
                            <div class="form-group">
                                <label class="control-label">Card</label>
                                <div id="card-element" class="form-control"></div>
                            </div>    
                        </div>
                        <div class="mb-5">
                            <h5>Billing Details</h5>
                            <hr/>
                            <div class="form-group">
                                <label asp-for="Input.Name" class="control-label"></label>
                                <input asp-for="Input.Name" class="form-control"/>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="control-label"></label>
                                <input asp-for="Input.Email" class="form-control"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.PhoneNumber" class="control-label"></label>
                                <input asp-for="Input.PhoneNumber" class="form-control"/>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-5">
                            <h5>Billing Address</h5>
                            <hr/>
                            <div class="form-group">
                                <label asp-for="Input.Address.Line1" class="control-label"></label>
                                <input asp-for="Input.Address.Line1" class="form-control"/>
                                <span asp-validation-for="Input.Address.Line1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Address.Line2" class="control-label"></label>
                                <input asp-for="Input.Address.Line2" class="form-control"/>
                                <span asp-validation-for="Input.Address.Line2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Address.City" class="control-label"></label>
                                <input asp-for="Input.Address.City" class="form-control"/>
                                <span asp-validation-for="Input.Address.City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Address.County" class="control-label"></label>
                                <input asp-for="Input.Address.County" class="form-control"/>
                                <span asp-validation-for="Input.Address.County" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Address.Country" class="control-label"></label>
                                <select asp-for="Input.Address.Country" class="form-control">
                                    <option value="">-----</option>
                                    @foreach (var mapping in VoucherApp.Data.CountryMappings.Countries)
                                    {
                                        <option value="@mapping.CountryCode">@mapping.CountryName</option>
                                    }
                                </select>
                                <span asp-validation-for="Input.Address.Country" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Address.PostalCode" class="control-label"></label>
                                <input asp-for="Input.Address.PostalCode" class="form-control"/>
                                <span asp-validation-for="Input.Address.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group text-center mb-0">
                            <input id="form-submit" type="submit" value="Support" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-transparent border-light text-center">
                    <a href="#" class="modal-box-trigger text-muted" data-content="@Model.TCContent" data-title="Terms and Conditions">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}