@page

@{
    ViewData["Title"] = "Not found.";
}

<div class="container mt-5">
    <div class="row">
        <h1 class="text-danger">404</h1>
    </div>
    <div class="row">
        <h2 class="text-danger">Not Found</h2>
    </div>
</div>