﻿@{
    var siteName = VoucherApp.Data.SiteSettingsStatic.SiteName ?? "Voucher App";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @siteName</title>
    <link rel="shortcut icon" href="@VoucherApp.Data.SiteSettingsStatic.Favicon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <partial name="_ConfirmDialog"/>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@siteName</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">    
                            <a class="nav-item nav-link" asp-area="" asp-page="/Admin/Index">Dashboard</a>
                            <a class="nav-item nav-link" asp-area="" asp-page="/Accounts/Edit">My Account</a>
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <button type="submit" class="nav-item nav-link">Log out</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="admin container-fluid">
        <div class="row m-0">
            <nav class="sidebar box-shadow col-md-2 mb-5">
                <partial name="_Sidebar" />
            </nav>
            <main role="main" class="pb-3 px-5 col-md-9">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer">
        <div class="container-fluid">
            &copy; 2020 - @siteName - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/confirmDialog.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
