@{
    var isUsersTab = (string) ViewData["SelectedTab"] == "Users" ? "active" : "";
    var isVendorsTab = (string) ViewData["SelectedTab"] == "Vendors" ? "active" : "";
    var isStripeTab = (string) ViewData["SelectedTab"] == "Stripe" ? "active" : "";
    var isEmailTab = (string) ViewData["SelectedTab"] == "Email" ? "active" : "";
    var isSiteTab = (string) ViewData["SelectedTab"] == "Site" ? "active" : "";
    var isPrivacyTab = (string) ViewData["SelectedTab"] == "Privacy" ? "active" : "";
    var isTCTab = (string) ViewData["SelectedTab"] == "TermsConditions" ? "active" : "";
    var isFAQTab = (string) ViewData["SelectedTab"] == "FAQ" ? "active" : "";
    var isSocialTab = (string) ViewData["SelectedTab"] == "Social" ? "active" : "";

}
@ViewData["SeletedTab"]
<div class="nav flex-md-column flex-row justify-content-around nav-pills">
    <a class="nav-link @isEmailTab" asp-area="" asp-page="/Admin/Email/Index">Email</a>
    <a class="nav-link @isFAQTab" asp-area="" asp-page="/Admin/Faq/Index">FAQ</a>
    <a class="nav-link @isPrivacyTab" asp-area="" asp-page="/Admin/Privacy/Index">Privacy</a>
    <a class="nav-link @isSiteTab" asp-area="" asp-page="/Admin/Site/Index">Site</a>
    <a class="nav-link @isSocialTab" asp-area="" asp-page="/Admin/Social/Index">Social Media</a>
    <a class="nav-link @isStripeTab" asp-area="" asp-page="/Admin/Stripe/Index">Stripe</a>
    <a class="nav-link @isTCTab" asp-area="" asp-page="/Admin/TermsAndConditions/Index">Terms And Conditions</a>
    <a class="nav-link @isUsersTab" asp-area="" asp-page="/Admin/Accounts/Index">Users</a>
    <a class="nav-link @isVendorsTab" asp-area="" asp-page="/Admin/Vendors/Index">Vendors</a>
</div>