body {
    background-color: #fff;
}

.admin {
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .admin .sidebar {
        width: 200px;
        min-height: 70vh;
    }
}

.admin .sidebar {
    border-radius: 10px;
}

.admin .sidebar.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .5) !important;
}

table {
    border: 1px solid #f63fa1;
}

table .col-action {
    text-align: right;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f63fa1;
    color: #F5F6F7;
}

a {
    color: #f63fa1;
}

a:hover {
    color: rgba(0 , 0, 0, .9);
}

.table .thead-light th {
    color: #F5F6F7;
    background-color: #f63fa1;
    border-bottom-color: #f63fa1;
}

.table td {
    border-top-color: #f63fa1;
}