﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;  
  background-color: #E4E8ED;
}

header,
footer {
  background-color: #f63fa1;
}

header .navbar-light .navbar-nav .nav-link,
header .navbar-light .navbar-brand,
a#dropdownMenuLink,
footer,
footer a {
  color: #F5F6F7;
}

header .nav-link {
  border: 0;
  background-color: transparent;
}

header #navbarNav {
  justify-content: flex-end;
}

header .show#navbarNav {
  justify-content: flex-start;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer a:hover,
a#dropdownMenuLink:hover {
  color: rgba(0,0,0,.9);
}

a#dropdownMenuLink:hover {
  border: 0;
  outline: none !important;
}

.intro {
  background-color: #F5F6F7;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, .1);
}

.intro img {
  border-radius: 50%;
}

.main-toolbar a {
  color: #f63fa1;
}

.main-toolbar #search-bar,
.main-toolbar #search-bar:focus {
  border: 1px solid #f63fa1;
  border-radius: 15px;
  box-shadow: none;
  background-color: #F5F6F7;
}

.main-vendors .vendor-card {
  background-color: #F5F6F7;
  border-radius: 5px;
}

.main-vendors .vendor-card .card-img-top,
.vendor-image {
  width: 100%;
  max-height: 150px;
  min-height: 150px;
  margin: auto;
  border-radius: 5px;
}

.vendor-image {
  width: 50%;
}

.main-vendors .vendor-card .card-body {
  position: relative;
  height: 200px;
}

.main-vendors .vendor-card .card-body p.card-text {
  height: 70px;
  overflow: hidden;
}

.main-vendors .vendor-card .card-body .order-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-vendors .vendor-card .card-body .order-btn a {
  color: #f63fa1;
  border-color: #f63fa1;
}

.main-vendors .vendor-card .card-body .order-btn a:hover {
  background-color: #f63fa1;
  color: #F5F6F7;
}

.main-vendors .vendor-card .card-body .order-btn a:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 63, 161, .5);
}

.sort-by {
  margin-left: 10px;
  margin-right: 10px;
}

.sort-by:hover {
  text-decoration: none;
}

.sort-by .icon {
  width: 1em;
  height: 1em;
}

.amount-select {
  background-color: #e9ecef;
  border-radius: 3px !important;
}

.amount-select:hover {
  background-color: #ccd2d8;
}

.page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  z-index: 1000;
}

.page-spinner .spinner-overlay {
  width: 100%;
  height: 100;
  background-color: rgba(0, 0, 0, .2);
}

.page-spinner .spinner-border {
  position: fixed;
  top: 50%;

  z-index: 1001;
}

.d-none {
  display: none !important;
}

.spinner-on {
  overflow: hidden;
}

#qrcode img {
  display: inline-block !important;
}

.card-box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .5);
}

.btn-primary {
  background-color: #f63fa1;
  color: #F5F6F7;
  border-color: #f63fa1;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #f63fa1 !important;
  color: #F5F6F7 !important;
  border-color: #f63fa1 !important;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .5) !important;
}

.card .card-header,
.card .card-footer,
.input-group-text,
.input-group .btn {
  background-color: #f63fa1;
  color: #F5F6F7;
}

.btn-primary:focus,
.input-group .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 63, 161, .5);
}

.card .card-footer {
  border-top-color: rgba(246, 63, 161, .5) !important;
  padding-top: 0.3rem;
  padding-bottom:0.3rem;
}

.card .card-footer a {
  color: #F5F6F7;
}

.card .card-footer a:hover {
  color: rgba(0,0,0,.9);
  text-decoration: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 63, 161, .5);
  border-color: #f63fa1;
}

.input-group .form-control {
  border-radius: 0.25rem !important;
}

.btn-secondary {
  background-color: #C1C1C1;
  color: rgba(0,0,0,.9);
}

.voucher-image {
  width: 100%;
}

@media (max-width: 576px) {
  .voucher-image {
    width: 50%;
  }  
}

a#dropdownMenuLink::after {
  display: none;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  top: 30px;
}

.footer .row:last-of-type {
  line-height: 25px;
}

@media (max-width: 475px) {
  .site-name {
    font-size: 3em;
  }
}
