@page
@model IndexModel
@{
    ViewData["Title"] = "Users";
    ViewData["SelectedTab"] = "Users";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="alert alert-danger">
            <strong>@Model.Error</strong>
        </div>
    }
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Users[0].Id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Users[0].Email)
                    </th>
                    <th scope="col" class="col-action"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users) 
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td class="col-action">
                            @if (Model.Users.Count > 1) 
                            {
                                <a class="confirm-dialog-trigger" asp-controller="Account" asp-action="Remove" asp-route-id="@user.Id" data-title="Confirm" data-body="Are you sure you want to remove this user?">Remove</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}