@page
@model IndexModel
@{
    ViewData["Title"] = "Site Settings";
    ViewData["SelectedTab"] = "Site";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <strong>Site settings updated!</strong>
                    </div>
                }
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.SiteName"></label>
                    <input asp-for="Input.SiteName" class="form-control">
                    <span asp-validation-for="Input.SiteName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SiteUrl"></label>
                    <input asp-for="Input.SiteUrl" class="form-control">
                    <span class="hint">Full site url</span>
                    <span asp-validation-for="Input.SiteUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SiteImagePath"></label>
                    <input asp-for="Input.SiteImagePath" class="form-control">
                    <span asp-validation-for="Input.SiteImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SiteIntro"></label>
                    <input asp-for="Input.SiteIntro" class="form-control">
                    <span asp-validation-for="Input.SiteIntro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Favicon"></label>
                    <input asp-for="Input.Favicon" class="form-control">
                    <span asp-validation-for="Input.Favicon" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}