@page
@model EditModel
@{
    ViewData["Title"] = "My Account";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 card offset-lg-3 py-5">
            <h1>@ViewData["Title"]</h1>
            <hr/>
            <form method="post">
                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <strong>Password was updated!</strong>
                    </div>
                }
                <h2>Change password</h2>
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.OldPassword"></label>
                    <input asp-for="Input.OldPassword" class="form-control">
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Change"/>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}