@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3 py-5 card">
            <h1>@ViewData["Title"]</h1>
            <hr>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Log in"/>
            </form>
        </div>
    </div>
</div>