@page
@model IndexModel
@{
    ViewData["Title"] = "Stripe Settings";
    ViewData["SelectedTab"] = "Stripe";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <strong>Stripe settings updated!</strong>
                    </div>
                }
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.ClientId"></label>
                    <input asp-for="Input.ClientId" class="form-control">
                    <span asp-validation-for="Input.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ApiKey"></label>
                    <input asp-for="Input.ApiKey" class="form-control">
                    <span asp-validation-for="Input.ApiKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SecretKey"></label>
                    <input asp-for="Input.SecretKey" class="form-control">
                    <span asp-validation-for="Input.SecretKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ChargePercentage"></label>
                    <input asp-for="Input.ChargePercentage" class="form-control">
                    <span asp-validation-for="Input.ChargePercentage" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}