﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">
    <div class="row">
        <h1 class="text-danger">Error.</h1>
    </div>
    <div class="row">
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
</div>