﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

    var siteName = Model.SiteSettings?.SiteName ?? "Voucher App";
    var siteIntro = Model.SiteSettings?.SiteIntro ?? "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id est enim, de quo quaerimus. Quid de Pythagora? Respondent extrema primis, media utrisque, omnia omnibus. Inde igitur, inquit, ordiendum est. Duo Reges: constructio interrete. Aeque enim contingit omnibus fidibus, ut incontentae sint. Sed ille, ut dixi, vitiose.";
}

<div class="intro">
    <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
            <div class="py-6 text-center text-dark">
              <h1 class="display-3 font-weight-bold text-dark mb-2 site-name">
                @siteName
              </h1>
              <p class="px-lg-14 mb-4 lead">
                @siteIntro
              </p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="main-toolbar py-3">
    <div class="container">
        <div class="row">
            <!-- Search form -->
            <div class="col-sm-4">
                <input id="search-bar" class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-sm-5 offset-sm-3 text-right">
                Sort by: <a href="#" id="sort-a-z" class="sort-by" data-order="none" data-type="a-z">A-Z <div class="icon d-inline-block"></div> </a> <a href="#" id="sort-dessert-type" class="sort-by" data-order="none" data-type="dessert">Treat Type <div class="icon d-inline-block"></div></a>
            </div>
        </div>
    </div>
</div>

<div class="main-vendors">
    <div class="container">
        <div class="row mb-5">
            @foreach (var vendor in Model.Vendors)
            {
                <partial name="_CardPartial" model="vendor" />    
            } 
        </div>
    </div>
</div>

<div class="bottom-container">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-lg-5 mb-5">
                <h4>The extended lockdown can kill a business</h4>
                <p>Restaurants, cafes and pop-up eateries have tons of fixed costs: rent, labor, loan repayments, insurance, supplies, repairs – the list goes on. Even successful ones have razor thin margins of 3-5%, and a third have struggled to pay employees at least once. The “lock-down” ordinance keeping customers at home could tip the balance into bankruptcy.</p>
            </div>
            <div class="col-lg-5 offset-lg-2 mb-5">
                <h4>Our duty as loyal customers</h4>
                <p>Our favourite small foodie businesses need us more than ever. Even though we can’t visit, we can still support them by buying gift vouchers. It’s basically a mini-loan, so buy one now and make a plan to use it later</p>
            </div>
        </div>
    </div>
</div>