﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row my-5">
        <h1 class="col-12">@ViewData["Title"]</h1>

        <div class="col-12">
            @Html.Raw(Model.Privacy?.Content)
        </div> 
    </div>
</div>