@page
@model IndexModel
@{
    ViewData["Title"] = "Privacy Settings";
    ViewData["SelectedTab"] = "Privacy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <strong>Privacy settings updated!</strong>
                    </div>
                }
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Content"></label>
                    <textarea asp-for="Input.Content" class="form-control" cols="40" rows="10"></textarea>
                    <span asp-validation-for="Input.Content" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}